{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'jornalindo/css/login.css' %}">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <div class="form-container">
            <h2>Entre na sua conta</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Entrar</button>
            </form>
            <p class="login-link">Ainda não tem uma conta? <a href="{% url 'jornalindo:cadastro' %}">Faça cadastro</a></p>
            <a href="{% url 'jornalindo:index' %}" class="btn">Voltar para a página inicial</a>
        </div>
    </main>
</body>
</html>
