<html>
    <head>
        <title>App Inketes</title>
    </head>
    <body>
        <h1>Aplicação de Inketes - DSWeb 2024.1</h1>
        <h2>PARCIAL DA Pergunta #{{ inkete.id }}</h2>
        <h2>{{ inkete }}</h2>

        <p><i>Quantidade de votos por alternativa:</i></p>
          <ul>
          {% for alt in inkete.choice_set.all %}
            <li>
                {{ alt }} -> {{ alt.votes }}
                voto{{ alt.votes | pluralize }}
            </li>
          {% endfor %}
          </ul>
        <hr>
        <a href="{% url 'inketes:votacao' inkete.id %}" >Votar novamente?</a>

        <a href="{% url 'inketes:index' %}">Voltar</a>
    </body>
</html>